/*로고 및 로그인|회원가입 스타일*/
.logo {
    text-align: center;
    margin: 50px auto;
}

.logo img {
    width: 250px;
}

.topmenu {
    text-align: right;
    margin: 10px 10px 0px;
}

.topmenu a {
    text-decoration: none;
    color: #000;
    font-family: KoPubM;
}

/* 반응형메뉴 스타일 */
.nav_menu:before,
.nav_menu:after {
    content: "";
    display: table;
}

.nav_menu:after {
    clear: both;
}

.nav_menu {
    font: bold 12px Arial, Helvetica, sans-serif;
}


/* 기본 메뉴 스타일 */
nav {
    height: 40px;
    width: 90%;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 980px;
    height: 40px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    color: #000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    font-family: yetnalL;
    display: inline-block;
    width: 140px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    font-size: 20px;
}

nav ul a:hover {
    color: #ffffff;
    background-color: #d7eaa9;
    border-radius: 20px;
    transition: all .2s linear;
}

nav a#pull { /*반응형메뉴 숨김*/
    display: none;
}


/*반응형 스타일*/

/*핸드폰 단말기*/
/*반응형 메뉴 띄우고 기본 메뉴 숨기기*/
/*크기에 맞게 글씨, 배너줄이기*/
@media only screen and (max-width: 599px) {
    /*반응형메뉴 스타일*/
    nav {
        height: auto;
    }
    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
    nav a#pull {
        display: block;
        background-color: #fff;
        width: 100%;
        position: relative;
        border: 1px solid #000;
    }
    nav a#pull:after {
        content: "";
        background: url('../img/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    nav li {
        display: block;
        float: none;
        width: 100%;
    }
    nav li a {
        border-bottom: 1px solid #c9d3dd;
    }
    nav li a:focus {
        background-color: #d7eaa9;
        border-radius: 0px;
    }
    nav ul {
        display: none;
        height: auto;
    }
    
    /*로고, 로그인|회원가입 스타일*/
    .logo {
        margin: 0;
    }
    .topmenu {
        font-size: 10px;
    }
    .logo img {
        width: 150px;
    }
}

/*태블릿*/
@media (min-width:600px) and (max-width: 768px) {
    /*기본메뉴 크기조정 스타일*/
    nav a {
        height: 40px;
        font-size: 20px;
    }
    .nav_menu {
        width: 90%;
    }
    nav li {
        width: 25%;
    }
    
    /*로고 크기조정 스타일*/
    .logo img {
        width: 150px;
    }
}
