/*테이블게시판 스타일*/
.tablecontainer {
    width: 80%;
    height: auto!important;
    margin: 0 auto 30px;
}
table.typetable {
    border-collapse: collapse; /*이웃하는 테두리선 겹침*/
    text-align: center;
    line-height: 1.5;
    margin: auto;
    width: 100%
}

/*테이블 상단 스타일(번호,제목,작성자,작성일)*/
table.typetable thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #000000;
    border-bottom: 3px solid #17a21d;
}
/*번호 스타일*/
table.typetable tbody th {
    width: 8%;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
}

/*제목,작성자,작성일 스타일*/
table.typetable td {
    width: 13%;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
/*제목 세부 스타일*/
table.typetable td.title {
    width: 66%;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

/*반응형 스타일*/

/*핸드폰 단말기*/
/*화면 크기에 맞게 테이블 조정*/
@media (max-width:599px) {
    .tablecontainer {
        width: 100%;
        font-size: 10px;
    }
    table.typetable thead th {
        padding: 3px;
        font-size: 10px;
    }
    table.typetable tbody th {
        padding: 3px;
        vertical-align: middle;
    }
    table.typetable td {
        padding: 3px;
        vertical-align: middle;
    }
    table.typetable td.title {
        padding: 3px;
        vertical-align: middle;
    }
}
/*태블릿*/
@media (min-width:600px) and (max-width: 768px) {
    .tablecontainer {
        width: 100%;
        font-size: 13px;
    }
    table.typetable thead th {
        padding: 5px;
    }
    table.typetable tbody th {
        padding: 5px;
        vertical-align: middle;
    }
    table.typetable td {
        padding: 5px;
        vertical-align: middle;
    }
    table.typetable td.title {
        padding: 5px;
        vertical-align: middle;
    }
}
@media (min-width:799px) {}
