/*전체 초기화*/
html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/*intro carousel 배너 스타일*/
.carousel-inner { /*라디오버튼 css*/
    position: relative;
    overflow: hidden;
    width: 100%;
}
/*라디오 버튼이 클릭 됐을 때 .carousel-item 스타일 적용*/
.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}
.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

/*라디오버튼 이미지*/
.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}
.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.carousel-bullet:hover {
    color: #aaaaaa;
}

/*intro information 스타일*/
.intro_info {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}
.intro_con {
    display: flex;
}
.intro_row {
    padding: 10px 30px;
    display: inline;
    flex: 1;
    width: 30%;
    border: 1px solid #f2f1f1;
    margin: 0px 3px;
}
.intro_row:hover { /*테두리 transition 적용*/
    border: 1px solid #8ebc88;
    transition: all .3s linear;
}
.intro_row img {
    width: 80%;
}
.info_detail {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    word-break: break-all;
}
.info_detail h1 {
    font-family: yetnalB;
    font-size: 25px;
}
.info_detail span {
    font-family: yetnalL;
    font-size: 10px;
}
.intro_row img:hover {
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 50%;
}

/*반응형 스타일*/

/*핸드폰 단말기*/
/*information display를 block으로!*/
@media (max-width:599px) {
    .info_detail {
        text-align-last: center;
    }
    .info_detail h1 {
        font-family: yetnalB;
        font-size: 14px;
        margin: 5px auto;
    }
    .info_detail span {
        font-family: yetnalL;
        font-size: 5px;
        margin: 10px;
    }
    .intro_info {
        width: 100%;
        margin: 10px auto;
    }
    .intro_con {
        display: block;
    }
    .intro_row {
        display: inline-block;
        width: 80%;
        padding: 5px;
    }
    .intro_row img {
        width: 100px;
        float: left;
    }
}
/*태블릿*/
@media (min-width:600px) and (max-width: 768px) {
    .info_detail h1 {
        font-family: yetnalB;
        font-size: 20px;
        margin: 5px auto;
    }
    .info_detail span {
        font-family: yetnalL;
        font-size: 8px;
    }
}
@media (min-width:799px) {}
